<div style="text-align:center; margin:50;">
  <h2>Log in to your account</h2>
  <mat-dialog-content>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="example@vt.edu">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="something super secret">
      </mat-form-field>
    </p>

    <p>
      <button mat-raised-button style="margin-right:25%" color="primary" [mat-dialog-close] >Sign in</button>
      <button mat-raised-button>Cancel</button>

    </p>
  </mat-dialog-content>
</div>