<div fxLayout="row" >
    <mat-card style="height:50%;width: 70%; margin-top:5%; margin-right:10%; margin-left:5%">
        <ngx-extended-pdf-viewer [src]="'assets/pdfs/Reviewed translation of simple one page rental agreement 02 (1).pdf'">
        </ngx-extended-pdf-viewer>
    </mat-card>
    <mat-card style="height:50%;width: 70%; margin-top:5%; margin-right:10%; margin-left:5%">
        <mat-card-header>
            <mat-card-title style="font-size: large; font-weight: bold;">
                Definition of: Contract
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
            1) sustantivo. un acuerdo con términos específicos entre dos o más personas o entidades en el que hay una promesa de hacer algo a cambio de un beneficio valioso conocido como contraprestación. Dado que el derecho contractual está en el centro de la mayoría de las transacciones comerciales, es una de las tres o cuatro áreas de preocupación legal más importantes y puede implicar variaciones en las circunstancias y complejidades.
                </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button style="margin-right:5%">Previous</button>

            <button mat-raised-button>Next</button>
        </mat-card-actions>
    </mat-card>
</div>
