<div fxLayout="row" fxLayoutAlign="space-between">
  <div style="margin-left: 5%; margin-top: 5%; font-size: 300%; font-weight: bold; width:80%;">
    <p>Legal Translations made</p>
    <p>fast - accurate - affordable</p>
  </div>
  <div>
    <img  style="margin-left: 20%; margin-top: 5%;" width = 75% src="assets\trans_clipart.png">
  </div>
</div>

<div fxLayout="row">
  <button mat-raised-button color=primary class="butt" (click)="signup()">Sign up</button>
  <button mat-raised-button color=accent class="butt" (click)="login()">Log in</button>
</div>